<!-- "watch-sass":  "node-sass -w scss -o css" -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <img src="<%= data.image_url %>" width=150 />
        <h1><%= data.name %></h1>
        <h2><%= data.summary %></h2>
        <span><%= data.comments %> comments</span>
        <span><%= data.followers %> followers</span>
        <span><%= data.views %> views</span>

        <p><%= data.description %></p>
        <div><%= data.tags %></div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>