<!-- "watch-sass":  "node-sass -w scss -o css" -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron" id="projects">
        <% projects.forEach((project) => { %>
            <div class="card project">
                <div class="owner_bar">  
                    <img src="<%= project.owner.image_url%>"  />
                    <p><%= project.owner.screen_name %></p>
                </div>
                <a href="/projects/<%= project.id %>" >
                    <img class="card-img-top" src="<%= project.image_url %>" alt="Card image cap">
                </a>
                    <div class="card-body">
                        <a href="/projects/<%= project.id %>" >
                            <h2 ><%= project.name.toUpperCase() %></h2>
                            <h2></h2>
                            <!-- project.owner_id -->
                        </a>
                        <!-- <p class="card-text"><%= project.description %></p> -->
                    </div>
            </div>
        <% }); %>
    </div>
    <% include ../partials/pagination %>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>