<!-- "watch-sass":  "node-sass -w scss -o css" -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron" id="projects">
            
        <% projects.forEach((project) => { %>
            <div class="card project">
                <div 

                    class="owner_bar" 
                    data-id="<%= project.owner_id %>"
                    data-screen_name="<%= project.owner.screen_name %>"
                    data-followers="<%= project.owner.followers %>"
                    data-projects="<%= project.owner.projects %>"
                    data-about_me="<%= project.owner.about_me %>"
                    data-image_url="<%= project.owner.image_url %>"
                    >  
                    <img src="<%= project.owner.image_url %>"  />
                    <p><%= project.owner.screen_name %></p>
                </div>
                    <img class="card-img-top" src="<%= project.image_url %>" alt="Card image cap">
                    <div class="card-body">
                            <h2 ><%= project.name.toUpperCase() %></h2>
                            <h2></h2>
                        <!-- <p class="card-text"><%= project.description %></p> -->
                    </div>
            </div>
        <% }); %>
    </div>
    <% include ../partials/pagination %>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@5"></script>
<script src="js/index.js"></script>
</body>
</html>